@import "reset.css";
@import "fonts.css";
@import "fontawesome.min.css";
@import "bootstrap-grid.min.css";

body {
    font-family: 'Barlow Condensed', sans-serif;
}

h1 {
    font-weight: 600;
    margin: auto;
    font-family: 'Barlow Condensed', sans-serif;
}

i {
    font-size: 40px;
    color: red;
}