@import "reset.css";
@import "fontawesome.min.css";
@import "bootstrap-grid.min.css";
@import "fonts.css";

html {
  scroll-behavior: smooth;
}

$desClrLight: #ffaa01;
$desClrDark: #002c42;
$btnText: #fff;

$fontSize: 10px;


$fontH1: 6rem;
$fontH3: 3.6rem;

$fontSizeOne: 1.4rem;
$fontSizeTwo: 1.6rem;
$fontSizeThree: 1.8rem;
$fontSizeFour: 2.2rem;
$fontSizeFive: 2.4rem;
$fontSizeSix: 3rem;

$ffMain: 'Barlow Condensed', sans-serif;

$sectionPadding: 110px;
$headerPadding: 50px;

$mainHeadClr: #666666;
$mainFontClr: #555555;

$bgMain: #fff;
$bgExtra: #f3f3f3;

@mixin section-header {
  color: $desClrDark;
  font-size: 6rem;
  font-weight: 600;
}

:root {
  font-size: $fontSize;
}

body {
  font-family: $ffMain;
  font-size: $fontSizeTwo;
  font-weight: 400;
  background-color: $bgMain;
  line-height: 1.6;
        padding-bottom: 500px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a,
span,
input,
i {
  display: inline-flex;
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

.flex-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  color: #fff;
  background:  linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
  .decoration {
    position: relative;
    overflow: hidden;
  }
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 99999px;
    background-color: #263f4b;
  }
    li {
      padding: 1.6rem 0;
      position: relative;
      &:not(:first-child) {
        border-left: 1px solid #263f4b;
        padding-left: 7.5rem;
        margin-left: 7.5rem;
      }
      a {
        align-items: center;
        i {
          margin-right: 1rem;
          color: $desClrLight;
          font-size: 2rem;
        }
      }
    }
}

.header-navbar {
  transition: all .7s;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-description {
      line-height: 1;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        transition: .2s ease-in;
        font-size: $fontSizeSix;
        font-weight: 600;
      }

      &:hover > h2 {
        color: $desClrLight;
      }

      p {
        font-size: 1rem;
        color: #666;
      }
    }
  }
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
  color: #fff;
  font-size: $fontSizeThree;
  text-transform: uppercase;
  a{
    transition: .2s ease-in;
  }
  & > li {
    position: relative;
    padding: 6rem 0;
    &:hover > a{
      color: $desClrLight;
    }
    .navbar-sub-menu {
      transition: .3s ease-in;
      width: 220px;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      text-transform: capitalize;
      background-color: $desClrDark;
      li:not(:last-child){
        border-bottom: 1px solid #666;
      }
      a {
        width: 100%;
        padding: 1.2rem 3rem;
        &:hover,
        &:focus {
          background-color: #f3f3f3;
          color: $desClrDark;
        }
      }
    }
    &:hover .navbar-sub-menu,
    &:focus-within .navbar-sub-menu {
      visibility: visible;
      opacity: 1;
    }
  }
}

.header-navbar.navbar-fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  width: 100%;
  background-color: $desClrDark;
  .navbar-nav {
    justify-content: space-around;
    & > li{
      padding: 3rem 0;
    }
  }
}

//Hero + slider

.hero {
  position: relative;
  img {
    height: 950px;
  }
}

.swiper-slide {
  position: relative;
  &:before {
    position: absolute;
    z-index:2;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
  }
}

.hero-swiper-button-next,
.hero-swiper-button-prev {
  color: #334a55;
  font-size: 2rem;
  border: 2px solid #334a55;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease-in;
  &:hover {
    color: #fff;
    border-color: #fff;
  }
}

.hero-swiper-button-next {
  right: 5rem;
}
.hero-swiper-button-prev {
  left: 5rem;
}

.swiper-button-next {
}

.swiper-pagination {
  left: 20% !important;
  bottom: 5rem !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}


